<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="VULauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BF3DocumentsDirectory" value=""/>
    <add key="VUInstallationDirectory" value=""/>
  </appSettings>
<userSettings>
    <VULauncher.Properties.Settings>
        <setting name="UserTheme" serializeAs="String">
            <value>Light</value>
        </setting>
    </VULauncher.Properties.Settings>
  </userSettings>
</configuration>